{erl_opts, [debug_info]}.

{dialyzer, [
    {plt_extra_apps, [mnesia, cowlib]}
]}.

{deps, [
    {cowboy, "2.12.0"},
    {jiffy, "1.1.2"}
]}.

{relx, [
    {release, {shurbey, "0.1.0"}, [
        mnesia,
        shurbey_store,
        shurbey_web,
        shurbey,
        sasl
    ]},

    {mode, dev},

    {sys_config, "./config/sys.config"},
    {vm_args_src, "./config/vm.args.src"}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{profiles, [
    {test, [
        {deps, [{gun, "2.1.0"}]}
    ]},
    {prod, [
        {relx, [
            {mode, prod}
        ]}
    ]}
]}.
